footer {
    background-color: #ee6e73;
    height: 30px;
    padding-left: 10px;
    padding-top: 4px;
    display: flex;           /*ovo obnovi */
    flex-direction: row;
}

footer p {
    color: white;
    font-size: 12px;
    flex-grow: 1;
}

footer .counterDiv{
    text-align: right;
    padding-right: 3px;
    margin-right: 50px;
}